<div class="menu" aria-label="Secondary">
    <div class="about">
        <a href="{{ "/about" | relative_url }}">
            <i class="fas fa-signature"></i>
            About
        </a>
    </div>
    <div class="hashtags">
        <a href="{{ "/tags" | relative_url }}">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="heart-health">
    <a href="{{ "/categories#heart-health" | relative_url }}">
        <i class="fas fa-heartbeat"></i>
        Heart Research
    </a>
</div><div class="heart-health">
    <a href="{{ "/categories#brain-health" | relative_url }}">
        <i class="fas fa-braint"></i>
        Heart Research
    </a>
</div>
    <div class="archive">
        <a href="{{ "/archive" | relative_url }}">
            <i class="fas fa-archive"></i>
            Archive
        </a>
    </div>
    <div class="rss">
        <a href="{{ "/feed.xml" | relative_url }}">
            <i class="fas fa-rss"></i>
            RSS
        </a>
    </div>
    <div class="donate">
        <a href="{{ donate_link: "https://www.buymeacoffee.com/aginghealth }}">
            <i class="fas fa-dollar-sign"></i>
            Donate
        </a>
    </div>
</div>
