<div class="sidebar-info">
  {% if site.author_pic %}
    <div class="brand-photo">
      <img src="{{ site.author_pic | relative_url }}" alt="Tommy T. Douglas" class="profile-img">
    </div>
  {% endif %}

  <div class="brand-content">
    <h2 class="brand-title">{{ site.author }}</h2>
    <p class="brand-tagline">{{ site.author_bio }}</p>
  </div>
  
  <hr class="sidebar-divider">
  
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="{{ '/' | relative_url }}">Research</a></li>
      <li class="nav-item"><a href="{{ '/about/' | relative_url }}">About</a></li>
    </ul>
  </nav>
</div>
